h1 {
    color: rgb(235, 223, 171);
    margin: 0 0 3rem;
}

a,
a:visited {
    text-decoration: none;
    color: #4a4a75;
    font-weight: 400;
    background-color: rgba(171, 171, 235, 0.7);
    border-radius: 100vh;
    padding: 0.5em 1em;
}

a:focus,
a:hover {
    opacity: 0.8;
}
