@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    text-align: center;
}

/* Button --------------- */
.button {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1.5px;
    border-style: solid;
    padding: 0.5em 0.75em;
    margin-top: 0.5em;
}

.button-accent {
    color: rgb(70, 189, 100);
    border-color: rgb(70, 189, 100);
}

.button-accent:hover,
.button-accent:focus {
    background: rgb(70, 189, 100);
    color: rgb(3, 58, 3)
}

@media (min-width:50rem) {
    .button {
        font-size: 1.6em;
    }
}

@media (max-width:30rem) and (min-height:45rem) {

    /* Mobile devices*/
    .button {
        margin-top: 4em;
    }
}


.container {
    width: 95%;
    margin: 0 auto;
}

/* Typography -------------- */

h1 {
    font-weight: 300;
    font-size:2em;
    margin-top:0;
}


.title {
    font-size: 2rem;
    font-weight:700;
    margin-top:1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: 0.9em;
}

@media (min-width:50rem) {
    .title {
        font-size: 3.5rem;
    }
}

/* Header --------------------------- */
header {
    position: absolute;
    margin: 1em;
    left: 0;
    right: 0;
}

.logo {
    padding: 0.5em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    color: #FFF
}

nav a:hover,
nav a:focus {
    color: rgb(221, 241, 193);
}

@media (min-width:55rem) {
    nav {
        float: right;
    }

    .logo {
        float: left;
    }
}

/* home-hero --------------------------- */

.home-hero {
    background-image: url(img/hero-bg.png);
    padding: 10em 0;
    color: rgb(221, 241, 193);
    background-size: cover;
    background-position: center;
}

@media (min-width:55rem) and (min-height:30rem) {
    .home-hero {
        height: 100vh;
        padding-top: 30vh;
    }
}

@media (max-width:30rem) and (min-height:45rem) {

    /* Mobile devices*/
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }

    .button {
        margin-top: 4em;
    }
}

/* Home-about --------- */
.home-about-textbox{
    background:#232323;
    padding:3em;
    width:100vw;
    margin-left:-2.6%;
    outline:2px solid rgb(159, 228, 128);
    outline-offset: -2em;
    color:#FFF;
    position:relative;
}

.home-about-textbox h1 {
    color:rgb(159, 228, 128);
    text-transform: uppercase;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:0.37em;
    background:#232323;
    padding:0 0.2em;
    margin-bottom:0;
}

@media (min-width:57rem){
    .home-about{
        padding:5em;
        background-image: 
        url(img/who-we-are.jpg);
        background-repeat: no-repeat;
    }
    .home-about-textbox h1{
        top:1.14em;
        padding:0 0.3em;
    }
    .home-about-textbox{
        margin-left:-2.6%;
        width:53%;
        padding:6em;
        outline-offset: -3.5em;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, 1);
    }
}
