@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    text-align: center;
}

/* Button --------------- */
.button {
    display:inline-block;
    font-size:1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 1.5px;
    border-style: solid;
    padding:0.5em 0.75em;
    margin-top:1em;
}

.button-accent{
    color:rgb(70, 189, 100);
    border-color: rgb(70, 189, 100);
}

.button-accent:hover,
.button-accent:focus{
    background:rgb(70, 189, 100);
    color:rgb(3, 58, 3)
}


.container {
    width: 95%;
    margin: 0 auto;
}

/* Typography -------------- */
.title{
    font-size:2rem;
}

.title span{
    font-weight:300;
    display: block;
    font-size: 0.9em;
}

@media (min-width:50rem){
    .title{
        font-size:3.5rem;
    }
}

/* Header --------------------------- */
header {
    position: absolute;
    margin: 1em;
    left: 0;
    right: 0;
}

.logo {
    padding: 0.5em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    color: #FFF
}

nav a:hover,
nav a:focus {
    color: rgb(221, 241, 193);
}

@media (min-width:55rem){
    nav{
        float: right;
    }

    .logo{
        float: left;
    }
}

/* home-hero --------------------------- */

.home-hero {
    background-image: url(img/hero-bg.png);
    padding: 10em 0;
    color:rgb(221, 241, 193);
    background-size: cover;
    background-position: center;
}

@media (min-width:55rem) and (min-height:30rem){
    .home-hero{
        height: 100vh;
        padding-top: 35vh;
    }
}

@media (max-width:30rem) and (min-height:45rem){
    .home-hero{
        height: 100vh;
        padding-top: 35vh;
    }
    .button{
        margin-top: 4em;
    }
}

/* Home about ----------------------- */

.home-about {
    margin:1em;
}

.home-about{
    /* margin-right:40em; */
    padding:0.75em;
    background:pink;
}

